/* PC  */
@media (min-width: 1024px) {
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
  .contact-info {
    line-height: 1.8;
  }
}

/* Tablet and mobile */
@media (max-width: 1023px) {
  .contact-info {
    line-height: 1.8;
  }
  .btn {
    padding: 16px;
  }
  #nav .subnav a {
    padding: 5px 12px;
  }

  .contact-form .form-control {
    padding: 15px;
  }

  .social-list {
    font-size: 48px;
  }

  #footer .social-list a {
    margin: 0 8px;
  }

  #footer .copyright a {
    padding: 12px 0;
    display: inline-block;
  }
}

/* mobile */
@media (max-width: 740px) {
  .s-full-width {
    width: 100%;
  }

  .s-mt-8 {
    margin-top: 8px;
  }
  #header {
    overflow: hidden;
  }
  #header .mobile-menu-btn {
    display: block;
  }
  #header .search-btn {
    display: none;
  }

  #nav > li {
    display: block;
  }
  #nav li a {
    padding: 2px 24px;
  }
  #nav {
    display: block;
  }
  #nav > li:first-child {
    display: inline-block;
  }

  #nav .subnav {
    position: initial;
    background-color: #333;
  }
  #nav .subnav a {
    color: #fff;
    padding: 5px 41px;
  }

  #content .member-img {
    width: 60%;
  }

  .contact-form {
    margin-top: 24px;
  }
}
