@media (max-width: 1024px) {
}

@media (min-width: 740px) and (max-width: 1023px) {
}

@media (max-width: 740px) {
  #header {
    overflow: hidden;
  }
  #header .mobile-menu-btn {
    display: block;
  }
  #header .search-btn {
    display: none;
  }

  #nav > li {
    display: block;
  }
  #nav {
    display: block;
  }
  #nav > li:first-child {
    display: inline-block;
  }

  #nav .subnav {
    position: initial;
    background-color: #333;
  }
  #nav .subnav a {
    color: #fff;
    padding: 0 41px;
  }
}
